.App{
  max-width: 1200px;
  min-width: 600px;
  padding-bottom: 5%;
  background-color: rgb(100, 91, 91);
  border: 1px solid rgb(100, 91, 91);
  border-end-end-radius: 20px ;
  border-end-start-radius: 20px;
  box-shadow: 5px 10px 15px rgba(100, 91, 91, .8);
  margin: auto;
}

.App h1{
  text-align: center;
  padding: 20px;
  font-size: 30pt;
  border-radius: 10px;
  width: 500px;
  margin: auto;
}

*{
  padding: 0;
  margin: 0;
}

.blockOne_Content{
  display: inline-block;
  margin-left: 20px;
}

.blockOne_Content h2{
  width: 500px;
  font-size: 25pt;
  color: #000;
  text-align: center;
}

.blockOne_Content p{
  margin: 30px 0 30px 0;
  font-weight: 700;
  font-size: 17pt;
}